
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$inputbordercolor:#e2e5ec;
$darkblue:#1b1b28;
$lightgrey:#484f66;
$lightpurpleborder:#575979;
$bgdarkblue:#181827;
$drpdwn:#74788d;
$cardborder:#ebedf2;
$formcolor:#898b92;
$disabledbgcolor:#f7f8fa;
$lightwhiteborder:#d1d7e2;
$barlightgrey:#afafb9;
$cardbgwhite:#f5f6fa;
$greyborder:#686f7a;
$orangebgbtn:#FC9700;
$whitetableborder:#eceff7;
$orangetxt:#ffa707;
$whiteboxborder:#edf0f5;
$darkbluebgbadge:#232F3E;
$lightorange:#FEBD69;
$whitescrollbar:#f1f1f1;
$ashscroll:#888;
$greyscroll:#555;
$lghtorangebtn:#f9bd69;
$lghtbluebtn:#303031;
$lghtgreyborderbtn:#707070;
$lghtblackbtn:#302F2F;
$addtocartbtn:#FFD814;
$addaddress:#007185;
$timelinecolor:#FFA41C;
$cardvoilet:#F2F3F8;
$linkclr:#007185;
$brownclr:#B12704;
